<footer class="footer center">
  <small>
    <strong>By <em>Cesar Luque</em></strong>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
    </ul>
    <p>&copy; 2016 Company, Inc.</p>
  </nav>
</footer>
